
.container{
  background: rgb(214, 208, 208);
  text-align: center;
  margin: auto;
  border: 3px solid black;
  border-radius: 2%;
  padding-bottom: 20px;
}
.two{
  background: rgb(231, 18, 18);  
  margin: 15px 70px;
  padding-bottom: 20px;
  border-radius: 2%;
  
  }
.three{
  background: rgb(23, 241, 15);
  margin: 20px 120px;
  padding-bottom: 20px;
  border-radius: 2%;
 }
.four{
  background: rgb(233, 8, 214);
  margin: 20px 300px;
  text-align: center;
  padding-bottom: 20px;
  border-radius: 2%;
}
